<%= render(:partial=>"navbar") %>	
<br>
<hr>
  <!-- +++++ Projects Section +++++ -->
 	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-12 col-lg centered">
				<h3>FAQ</h3>
				<hr>
<p><span style="text-decoration: underline;">Who can join Fund Foundation?</span></p>
<p>Basically everyone above the age of 18 can join in building this community.</p>
<p>How to register in Fund Foundation?</p>
<p>To register on fundfoundation. All you need to do is go to our website, click on the sign up button and fill in your details as accurately as possible, then deposit a capital of #10,000 only.</p>
<p><span style="text-decoration: underline;">Can We Trust Fund Foundation?</span></p>
<p>Absolutely. We have taken the necessary steps to ensure we keep your account as safe as possible.</p>
<p>We have worked tirelessly to ensure we eliminated every loophole that can cause a breach in security.</p>
<p>Also, every member will have access to a dashboard where they can monitor the growth of their money.</p>
<p><span style="text-decoration: underline;">What is a &ldquo;Dashboard&rdquo;?</span></p>
<p>A dashboard is the personal profile page you get when you register to fund foundation. You can view your returns, request payout and claim your bonuses e.t.c.</p>
<p><span style="text-decoration: underline;">How to login into Fund Foundation?</span></p>
<p>Once you have registered on the platform, every member chooses a username and password. These are the things needed to login to your own dashboard every time.</p>
<p><span style="text-decoration: underline;">How to recover a password for Dashboard?</span></p>
<p>If you happen to forget your password, no need to worry we got you covered. Click on forgot password and a link with steps to get a new password will be sent to your e-mail provided in your contact information immediately.</p>
<p><span style="text-decoration: underline;">What Is the Maximum Amount I Can register with?</span></p>
<p>Every member gets to register with a sum of #10,000 and get a final return of 2.1 million in order to ensure equality in the community as much as possible.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Can I withdraw any time?</span></p>
<p>Yes, you maybe able to withdraw your money at every stage, provided you adhere to the terms and conditions.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">How long does it take to receive cash out? </span></p>
<p>Payout is received 24hrs after request in exemption of networks issues from your bank.</p>
<p><span style="text-decoration: underline;">How can I change my bank details?</span></p>
<p>Login to your dashboard, click on transactions, there you will see the options button. Click on options button and then edit. It is advisable to enter the correct details, ensure the bank account name is the same as the name used in opening your fund foundation account.&nbsp;</p>
<p><span style="text-decoration: underline;">Can I receive cash outs without referrals?</span></p>
<p>At the first stage, you will be able to receive your return of #27,000 without referrals. However, at subsequent levels, you will need to provide one referral before you may receive your payment.</p>
<p><span style="text-decoration: underline;">Who are &ldquo;Referrers&rdquo; and &ldquo;Referrals&rdquo;?</span></p>
<p>Referrers are the members or people who invite other members to the community with the referral link provided to you when you register. Referrals is the act of inviting new members to the community either via word of mouth or with your referral link. It is also important to note that the community will only move when new members register, which means members become richer faster and you receive referral bonuses for every person you invite in exemption of the people you refer when unlocking payment.</p>
<p><span style="text-decoration: underline;">What is a &ldquo;Referral Link&rdquo;?</span></p>
<p>A referral link helps the Fund Foundation system to identify who has invited a person to its community.</p>
<p>If a person comes to the Fund Foundation website through your referral link, after registration he automatically becomes your referral. Afterwards, you will receive Referral bonuses.</p>
<p>Your referral link can be found on your dashboard after you have completed registration to the Fund foundation community.</p>
<p><span style="text-decoration: underline;">Where can I post my Referral Link?</span></p>
<p>You can post your referral link anywhere you please, on Whatsapp groups, social media platforms (Twitter, Facebook, Instagram) e.t.c. Posting your link is a mood of advertising, so post where people will see it.</p>
<p>What types of Bonuses can I get?</p>
<p>Every member is entitled to three different types of bonuses;</p>
<p>Referral Bonus, Bonus for video testimonial, Bonus at each point of pay out.</p>
<p>Go to (&hellip;..) for more information on bonuses.</p>
<p>How to participate in Fund Foundation safely?</p>
<p>We at fund foundation, have set up an accountable security department to track any form of suspicious transactions and monitor the proper development of the community and the integrity of participants as well. Security department reserves rights to require a copy of your passport or a video record with explanations of your actions if you are suspected of committing deliberate manipulations. If your guilt is proven, you will be sent on exile from the community. Remember that all participants come together to forma single entity, therefore the security department is not working on behalf of individual but solely acts in the interests of the community as a whole.</p>
<p>In case of your blocking for suspicious activity, you need to write to the support teamand attach a photo or any other form of identificationto verify your identity. In case the participant hasn&rsquo;t violated the rules, there is totally nothing to worry about. He/she will be unblocked and the ban won&rsquo;t affect his growth in any way.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">How to get in touch with the Support Team?</span></p>
<ol>
<li>Click on&ldquo;Support&rdquo; button in your Dashboard.</li>
<li>Select an appropriate category from the list.</li>
<li>Specify your question.</li>
<li>Clearly describe your situation because the support team can&rsquo;t see your dashboard directly.</li>
<li>Attach any relevant files as proofs (if necessary).</li>
</ol>
<p>How can I participate in Fund Foundation with my mobile devices?</p>
<p>Fund foundation has a web application that enables it to be accessed with smart mobile phones. So you can participate from your mobile device or your personal computer.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">WHO IS THE FOUNDER OF Fund Foundation?</span></p>
<p>&nbsp;</p>
<p>Fund foundation is founded by smart like minded individuals with a goal to eliminate poverty through

this community. The aim is to encourage independence and grant control of your financial freedom.</p>
<p>&nbsp;</p>
			</div>
		</div>
	</div><!-- /container -->	

<%= render(:partial=>"footer")%>