<%= render(:partial=>"navbar") %>	
<br>
<hr>
  <!-- +++++ Projects Section +++++ -->
 	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-12 col-lg centered">
				<h3>FAQ</h3>
				<hr>
<p>Frequently asked questions (FAQ) from Visitors. Hope you find the answer to your Question here.<br />Q.&nbsp;What is Fund foundation?&nbsp;<br />A. Fund foundation is a peer-to-peer donation and mutual aid fund scheme for members to help other members in an efficient way. By using this scheme, members gives and receives donations from each other.<br />Q.What is the aim of Fund foundation?<br />A.&nbsp;Fund foundation was created to promote the greatest good, with a particular emphasis on helping man. Its connect people through donation to provide financial assistance to each other and everybody is helped.<br />Q.Do I have to refer someone to earn?<br />A.&nbsp;There aren&rsquo;t any obligations to bring someone before you earn. The system is designed for automation.<br />Q.What is the difference between the Plans?<br />A.&nbsp;The different platforms are categorized to accommodate the specified donation amount. The higher your plan, the more money you can earn?<br />Q.IF THE PERSON ASSIGNED TO PAY ME DIDNT PAY, WHAT NEXT?<br />A.&nbsp;As long as you have been matched before, the system will remove the downlink and assign another immediately after the downlink exceed his commitment time which is 6 Hours.<br />Q.Who is eligible to Join Fund foundation?<br />A.&nbsp;You must 18 years and above to join Fund foundation. Equal benefits and donations are assigned to all and sundry<br />Q.Can I have multiple Accounts?<br />A.&nbsp;Yes. But the system will require additional username and email for verification and validation. Bank details, Names and mobile numbers can be the same. <br />Q.How long does it take to RECEIVE EARNINGS?<br />A.&nbsp;It takes 2-7 days after payment has been confirmed by uplink<br />Q.&nbsp;Is there any Setup Fee?<br />A.&nbsp;No, Fund foundation has provided a system that allows registration 100% free.<br />Q.How Do I Receive My Payment?<br />A.&nbsp;Once you have donated, then you are liable to receive payment from 2 donors through transfer.<br />Q.HOW MANY TIMES AM I ALLOWED TO JOIN AND GET ASSISTANCE?<br />A.&nbsp;This is unlimited, each time you get complete assistance a loop is created. The loop ends when you receive assistance. You can create as many loops as you want.<br />Q.HOW CAN I PARTICIPATE??<br />A.&nbsp;You can join by going to&nbsp;http://www.fundfoundation.com.ng/register&nbsp;and click on Register. You will be referred directly by the Administrator and the system will automatically assign you to a member.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
			</div>
		</div>
	</div><!-- /container -->	

<%= render(:partial=>"footer")%>
