
<%= render(:partial=>"navbar") %>	
<br>
<hr>
	
	<div class="container">
	<div class="row">
	<div class="col-lg-12">	
    <img class="img" src="/assets/about-corporate.png" alt="Responsive image">
	</div>
	</div>
   </div>
   </div>
  <!-- +++++ Projects Section +++++ -->
 	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Ideologies</h3>
				<hr>
				<p>Empowerment is our watchword!! Financial emancipation and liberation is the goal!!
At fund foundation, our ideology is based on empowering the younger generation and everyone at large to the extent of financial independence. We have a goal to see everyone smile amidst the current economic recession. The team dreams of ushering in a new system in which its members benefit from each other thus ending a cycle of dissatisfaction and poverty, a new system free from capitalist exploitation and ridiculous exorbitant charges from banks and the government, a system in which your salary/income won’t determine your lifestyle and be a detriment to your goals and those of your kids, a system that promises peace of mind and a general feeling of happiness and succor.
</p>
			</div>
		</div>
	</div><!-- /container -->	
	
	
	<%= render(:partial=>"footer")%>