<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Custom CSS -->
   
 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <link href="assets/packages.scss" rel="stylesheet">
</head>

<body>

<%= render(:partial=>"navbar") %>
<hr>

    <!-- Header -->
    <a name="intro"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1> </h1>
                        <h3> </h3>
						<br>
						<br>
						<br>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Enpowering lives:<br>Enriching the society</h2>
                    <p class="lead">Fund foundationis not just an investment platform, it also is a platform set in place to produce an empowered community, free from any sort of financial slavery. you become a millionaire.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/network.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">KNOW THE RULES<br></h2>
                    <p class="lead">1. It is advised that all potential members have online banking
                    <br>2. It is advised that potential  members register only with phone numbers which are not only active but also accessible
                    <br>3. All cases of cyber-beggars should be reported as soon as possible
                    <br>4. Members are advised not to opt for any package or even register if they are not ready to go on with being assigned to pay
                    <br>5. Members are advised to make payment promptly once paired to pay someone. This is to ensure early pairing and payment.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/know-the-rules-.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
<br>
<br>
    <div class="content-section-a">
<div class="container content">
  <div class="row">
    <!-- Pricing -->
    <div class="col-md-3">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Beginner</h3>
          <h4><i>N</i>10,000<i>.00</i>
            <span>
					 </span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">

          <li>
            2:1 Matrix
          </li>
           <li>
              Auto Assign
          </li>
           <li>
            Account - Unit Conversion
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
            
          </p>
          <form method="get" action="/users/sign_up">
            <button href="javascript:;" class="btn yellow-crusta item-btn" style="background-color: blue" id="btn-package-pro">
              Select
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Pro <span>
					</span>
          </h3>
          <h4><i>N</i>20,000<i>.00</i>
            <span>
					 </span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">

          <li>
            2:1 Matrix
          </li>
           <li>
              Auto Assign
          </li>
           <li>
            Account - Unit Conversion
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
            
          </p>
          <form method="get" action="/users/sign_up">
            <button href="javascript:;" class="btn yellow-crusta item-btn" style="background-color: blue" id="btn-package-pro">
              Select
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pricing pricing-active hover-effect">
        <div class="pricing-head pricing-head-active">
          <h3>Expert <span>
					 </span>
          </h3>
          <h4><i>N</i>50,000<i>.00</i>
            <span>
					</span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">

          <li>
            2:1 Matrix
          </li>
           <li>
              Auto Assign
          </li>
           <li>
            Account - Unit Conversion
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
            
          </p>
          <form method="get" action="/users/sign_up">
            <button href="javascript:;" class="btn yellow-crusta item-btn" style="background-color: blue" id="btn-package-pro">
              Select
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Hi-Tech <span>
					 </span>
          </h3>
          <h4><i>N</i>100,000<i>.00</i>
            <span>
					</span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li>
            Coming Soon
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
           
          </p>
        </div>
      </div>
    </div>
    <!--//End Pricing -->
    </div>

</div>

<br>
<br>
<br>
<br>


	</div>
</div>

<br>

    <!-- /.content-section-a -->
    <% if user_signed_in? %>
    <% else %>
	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Start earning now, Join Fund Foundation today</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="users/sign_up" class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Sign up</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    <% end %>
    <!-- /.container -->

    </div>
    <!-- /.banner -->
</body>
	<%= render(:partial=>"footer")%>
</html>
