<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<link href="assets/packages.scss" rel="stylesheet">
<div class="container content">
  <div class="row">
    <!-- Pricing -->
    <div class="col-md-3">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Beginner <span>
					 </span>
          </h3>
          <h4><i>N</i>10,000<i>.00</i>
            <span>
					 </span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">

          <li>
            Consecte adiping elit
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
          </p>
          <a href="javascript:;" class="btn yellow-crusta">
            Sign Up
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Pro <span>
					</span>
          </h3>
          <h4><i>N</i>20,000<i>.00</i>
            <span>
					 </span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">

          <li>
            Consecte adiping elit
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
          </p>
          <a href="javascript:;" class="btn yellow-crusta">
            Sign Up
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pricing pricing-active hover-effect">
        <div class="pricing-head pricing-head-active">
          <h3>Expert <span>
					 </span>
          </h3>
          <h4><i>N</i>50,000<i>.00</i>
            <span>
					</span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">

          <li>
            Consecte adiping elit
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
          </p>
          <a href="javascript:;" class="btn yellow-crusta">
            Sign Up
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Hi-Tech <span>
					 </span>
          </h3>
          <h4><i>N</i>100,000<i>.00</i>
            <span>
					</span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li>
            Coming Soon
          </li>
        </ul>
        <div class="pricing-footer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
          </p>
          <a href="javascript:;" class="btn yellow-crusta">
            Sign Up
          </a>
        </div>
      </div>
    </div>
    <!--//End Pricing -->
  </div>
</div>

<br>
<br>
<br>
<br>