<div class="container lead" style="text-align: center; margin-top: 100px">
  Add A Bank
</div>

<%= render 'form', bank: @bank %>

<div class="container">
  <div class="row" style="text-align: center; margin-top: 10px"> <%= link_to 'Back', '/user/packages', class: 'btn btn-default' %> </div>
</div>


